{% extends 'Processor/layout.html' %}

{% block content %}
    <div class="features">

        <iframe title="Condition of risk" aria-label="Map" id="datawrapper-chart-GwagC" src="https://datawrapper.dwcdn.net/GwagC/2/" scrolling="no" frameborder="1" style="width: 0; min-width: 95% !important; border: 1px solid rgba(38,1,5,0.82);" height="300"></iframe>
        <script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"]){var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++){if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();
</script>
    </div>
{% endblock %}